{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": false,
        "development": false,
        "useBuiltins": false
      },
      "optimizer": {
        "globals": {
          "vars": {
            "__DEBUG__": "false"
          }
        }
      }
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "preserveAllComments": false
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "sourceMaps": false,
  "env": {
    "targets": {
      "chrome": "61",
      "firefox": "60",
      "safari": "11",
      "edge": "79"
    }
  }
}